body {
    background-color:blanchedalmond;
    color: #333333;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.btn-custom {
    background-color:paleturquoise;
    color: #333333;
}
.btn-custom:hover {
    background-color: rgb(70, 237, 237);
}
.contact-details {
    background-color:#F8C471 /* Light background color */
    padding: 30px;
    border-radius: 8px;
}







